<div id="<%= dom_id announcement %>">
  <p>
    <strong>Title:</strong>
    <%= announcement.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= announcement.body %>
  </p>

  <p>
    <strong>Poster:</strong>
    <%= announcement.poster_id %>
  </p>

  <p>
    <strong>Dig:</strong>
    <%= announcement.dig_id %>
  </p>

</div>
