<p style="color: green"><%= notice %></p>

<h1>Announcements</h1>

<%= link_to "Back to dig", dig_path(@dig) %> |
<%= link_to "New announcement", new_dig_announcement_path(@dig) %>
<hr>

<div id="announcements">
  <% @announcements.each do |announcement| %>
    <%= render announcement %>
    <p>
      <%= link_to "Show this announcement", announcement %>
    </p>
  <% end %>
</div>
