<div id="<%= dom_id dig %>">

  <h1>
    <%= dig.name %>
  </h1>

  <p>
    <strong>Location:</strong>
    <%= dig.location %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= dig.season %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= dig.start_date.strftime('%b %d, %Y') %> - <%= dig.end_date.strftime('%b %d, %Y') %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dig.description %>
  </p>



  <p>
    <strong>Artifact count:</strong>
    <%= dig.artifact_count %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= dig.creator.first_name + " " + dig.creator.last_name %>
  </p>

  <p>
    <strong>Primary Investigator:</strong>
    <%= dig.primary_investigator.first_name %> <%= dig.primary_investigator.last_name %>
  </p>

  <p>
    <strong>Your role in this dig is <%= dig.dig_participants.find_by(participant_id: current_user.id).role %>.</strong>
  </p>

</div>
