<div id="<%= dom_id dig %>">
  <p>
    <strong>Start date:</strong>
    <%= dig.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= dig.end_date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= dig.location %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= dig.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dig.description %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= dig.season %>
  </p>

  <p>
    <strong>Artifact count:</strong>
    <%= dig.artifact_count %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= dig.creator_id %>
  </p>

  <p>
    <strong>Primary Investigator:</strong>
    <%= dig.primary_investigator.first_name %> <%= dig.primary_investigator.last_name %>
  </p>
</div>
