<div id="<%= dom_id dig %>">

  <div class="mt-4 mb-4 d-flex justify-content-between align-items-center">
    <h1 class="text-danger">
      <%= dig.name %>
    </h1>
    <%= link_to "Announcements", dig_announcements_path(dig), class: "btn btn-secondary" %>
  </div>

  <hr />
  
  <%= link_to "Back to digs", digs_path %> 

  <hr />
  <p>
    <strong>Location:</strong>
    <%= dig.location %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= dig.season %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= dig.start_date.strftime('%b %d, %Y') %> - <%= dig.end_date.strftime('%b %d, %Y') %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dig.description %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= link_to "#{dig.creator.first_name} #{dig.creator.last_name}", profile_path(dig.creator) %>
  </p>

  <p>
    <strong>Your role in this dig is <%= dig.dig_participants.find_by(participant_id: current_user.id).role.humanize %>.</strong>

    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#rolesInfoModal">
      ?
    </button>
    <%= render partial: "shared/roles_info_modal" %>
  </p>

  <hr>

</div>
