<h1>Welcome, <%= current_user.first_name %>!</h1>

<%= link_to "Create a new dig", new_dig_path %>

<h3>Digs You Participate In</h3>

<div id="digs">
  <% @digs.each do |dig| %>
    <h4><%= dig.name %></h4>
    <%= dig.location %>
    <p>
      <%= link_to "Show this dig", dig %>
    </p>
  <% end %>
</div>
