<p style="color: green"><%= notice %></p>

<%= render @dig %>

<div>
  <%= link_to "Edit this dig", edit_dig_path(@dig) %> |
  <%= link_to "Back to digs", digs_path %> | 

  <%= link_to "Participants", dig_dig_participants_path(@dig) %> | 
  <%= link_to "Add participants", new_dig_dig_participant_path(@dig) %> | 
  <%= link_to "Add artifacts", new_dig_artifact_path(@dig) %>
  <%= button_to "Destroy this dig", @dig, method: :delete %>
</div>

  <p>
    <strong>Dig Images:</strong>
    <% @dig.dig_images.each do |image| %>
      <img src="<%= image.image_url %>">
    <% end %>
  </p>

  <p>
    <strong>Latest Artifacts</strong>
    <p>Show all (#)</p>
    <% @dig.artifacts.each do |artifact| %>
      <p>
        <%= link_to "#{artifact.description}", dig_artifact_path(@dig ,artifact) %>
      </p>
    <% end %>
  </p>
