<p style="color: green"><%= notice %></p>

<%= render @dig %>

<div>
  <%= link_to "Edit this dig", edit_dig_path(@dig) %> |
  <%= link_to "Back to digs", digs_path %>

  <%= button_to "Destroy this dig", @dig, method: :delete %>
</div>
