<div id="<%= dom_id dig_participant %>">

  <div class="d-flex align-items-center row">
    <h4 class="mt-0 mb-0 col-4">
      <%= link_to "#{dig_participant.participant.first_name} #{dig_participant.participant.last_name}", profile_path(dig_participant.participant_id) %>
    </h4>

    <div class="col-4">
      <strong>Role:</strong>
      <%= dig_participant.role %>
    </div>

    <div class="col-4 d-flex justify-content-end">
      <%= link_to 'Edit role', edit_dig_dig_participant_path(@dig, dig_participant) %> |  
      <%= link_to "Remove from dig", dig_dig_participant_path(@dig, dig_participant), method: :delete %>
    </div>
  </div>
</div>
