<%= form_with(model: dig_participant, url: [@dig, @dig_participant]) do |form| %>
  <% if dig_participant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dig_participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
        <% dig_participant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @dig_participant.participant_id == nil %>
    <div>
      <%= form.label :participant_email, style: "display: block" %>
      <%= form.text_field :participant_email %>
    </div>
  <%end%>
  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.collection_select :role, DigParticipant.roles.keys, :to_s, :humanize, {}, class: "form-select" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
