<%= form_with(model: [@dig, invitation]) do |form| %>
  <% if invitation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
        <% invitation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!--
  <div>
    <%#= form.label :dig_id, style: "display: block" %>-->
    <%#= form.text_field :dig_id %>
<!--  </div>-->

  <div>
    <%= form.label :participant_email, style: "display: block" %>
    <%= form.text_field :participant_email %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.collection_select :role, DigParticipant.roles.keys, :to_s, :humanize, {}, class: "form-select" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
