<div id="<%= dom_id invitation %>">
  <p>
    <strong>Role:</strong>
    <%= invitation.role %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invitation.status %>
  </p>

  <p>
    <strong>Dig:</strong>
    <%= invitation.dig_id %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= invitation.sender_id %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= invitation.recipient_id %>
  </p>

</div>
