<p style="color: green"><%= notice %></p>

<%= render @invitation %>

<div>
  <%= link_to "Edit this invitation", edit_invitation_path(@invitation) %> |
  <%= link_to "Back to invitations", invitations_path %>

  <%= button_to "Destroy this invitation", @invitation, method: :delete %>
</div>
