<div id="<%= dom_id document %>">
  <p>
    <strong>Title:</strong>
    <%= document.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= document.author %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= document.document %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= document.notes %>
  </p>

  <p>
    <strong>Poster:</strong>
    <%= document.poster_id %>
  </p>

  <p>
    <strong>Dig:</strong>
    <%= document.dig_id %>
  </p>

</div>
