<p style="color: green"><%= notice %></p>

<%= render @document %>

<div>
  <%= link_to "Edit this document", edit_dig_document_path(@document) %> |
  <%= link_to "Back to documents", dig_documents_path %>

  <%= button_to "Destroy this document", dig_document_path(@dig, @document), method: :delete %>
</div>
