<%= form_with(model: [@dig, dig_image], html: { multipart: true} ) do |form| %>
  <% if dig_image.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dig_image.errors.count, "error") %> prohibited this dig_image from being saved:</h2>

      <ul>
        <% dig_image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%#= form.label :image_url, style: "display: block" %>
    <%= form.file_field :image_url %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_field :notes %>
  </div>

  <div>
    <%= form.hidden_field :dig_id, value: @dig.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
