<div id="<%= dom_id artifact %>">
  <p>
    <strong>Description:</strong>
    <%= artifact.description %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= artifact.material %>
  </p>

  <p>
    <strong>Mohs hardness:</strong>
    <%= artifact.mohs_hardness %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= artifact.weight %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= artifact.site %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= artifact.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= artifact.lng %>
  </p>

  <p>
    <strong>Posted by:</strong>
    <% if artifact.poster == current_user %>
      You
    <% else %>
      <%= artifact.poster.first_name %> <%= artifact.poster.last_name %> 
    <% end %>
  </p>

</div>
