<div id="<%= dom_id artifact %>">
  <p>
    <strong>Lat:</strong>
    <%= artifact.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= artifact.lng %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artifact.description %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= artifact.material %>
  </p>

  <p>
    <strong>Mohs hardness:</strong>
    <%= artifact.mohs_hardness %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= artifact.weight %>
  </p>

  <p>
    <strong>Dig:</strong>
    <%= artifact.dig_id %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= artifact.site %>
  </p>

  <p>
    <strong>Poster:</strong>
    <%= artifact.poster_id %>
  </p>

</div>
