<%= form_with(model: [@dig, artifact]) do |form| %>
  <% if artifact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(artifact.errors.count, "error") %> prohibited this artifact from being saved:</h2>

      <ul>
        <% artifact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :material, style: "display: block" %>
    <%= form.text_field :material %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.collection_select :category, Artifact.categories.keys, :to_s, :humanize, {prompt: true}, class: "form-select" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <% valid_mohs_values = [0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0] %>
    <%= form.label :mohs_hardness, style: "display: block" %>
    <%= form.select :mohs_hardness, options_for_select(valid_mohs_values), prompt: "Select hardness" %>
  </div>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.text_field :weight %>
  </div>


  <div>
    <%= form.label :site, style: "display: block" %>
    <%= form.text_field :site %>
  </div>

  <div>
    <%= form.hidden_field :dig_id, value: @dig.id %>
  </div>

  <div class="mt-2">
    <%= form.submit class: "btn btn-outline-secondary"%>
  </div>
<% end %>
