<div class="container">
  <h1>Artifacts</h1>

  <%= link_to "Back to dig", dig_path(@dig) %> |
  <%= link_to "New artifact", new_dig_artifact_path %>
  <hr>

  <% if @dig.dig_participants.find_by(participant_id: current_user.id).role == "lead" || @dig.dig_participants.find_by(participant_id: current_user.id).role == "analyst" %>
    <h3>Data Visualization</h3>
      <%= pie_chart Artifact.where(dig_id: @dig.id).group(:category).count %>
      <!--TO DO: write method -->
      <%#= bar_chart Artifact.where(dig_id: @dig.id).group(:created_on).count %>
    <hr>
  <% end %>

  <div id="artifacts" class="d-flex justify-content-center flex-wrap">
    <% @artifacts.each do |artifact| %>
    <div class="card mb-4" style="width: 60%;">
      <div class="card-body">
        <p class="card-title"><%= artifact.description %></p>
        <p class="card-text">Posted by:
          <% if artifact.poster == current_user %>
            You
          <% else %>
            <%= artifact.poster.first_name %> <%= artifact.poster.last_name %> 
          <% end %>
        </p>
        <p>
          <%= link_to "Show this artifact", dig_artifact_path(@dig.id, artifact.id) %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
