<h1>Artifacts for <%= @dig.name %></h1>

<%= link_to "Back to dig", dig_path(@dig) %> |
<%= link_to "New artifact", new_dig_artifact_path %>
<hr />


<% if @dig.dig_participants.find_by(participant_id: current_user.id).role == "lead" || @dig.dig_participants.find_by(participant_id: current_user.id).role == "analyst" %>
  <i><a href="#data-charts">Jump to Data Charts</a></i>
  <hr />
<% end %>

<%= render "search" %>

<div id="artifacts" class="row mx-auto w-65">
  <% @artifacts.each do |artifact| %>
    <%= link_to dig_artifact_path(@dig, artifact) do %>
      <%= render "card", artifact: artifact %>
    <% end %>
  <% end %>
  </div>

  <%= paginate @artifacts %>

  <hr />

    <% if @dig.dig_participants.find_by(participant_id: current_user.id).role == "lead" || @dig.dig_participants.find_by(participant_id: current_user.id).role == "analyst" %>
      <%= render "data_charts" %>
    <% end %>
  </div>
