<h1>Artifact Details</h1>

<div>
  <%= link_to "Back to dig", dig_path(@dig) %> |
  <%= link_to "Artifact list", dig_artifacts_path(@dig) %> 
</div>

<hr />

<%= render @artifact %>

<hr />

<%= render "shared/images", parent: @artifact %>

<% if policy(@artifact).edit? && policy(@artifact).destroy? %>
  <hr />
  <div class="btn-toolbar mt-2">
    <%= link_to "Edit this artifact", edit_dig_artifact_path(@dig, @artifact), class: "btn btn-outline-secondary", style: "margin-right: 10px;" %> 
    <%= button_to "Destroy this artifact", dig_artifact_path(@dig, @artifact), method: :delete, class: "btn btn-outline-danger" %>
  </div>
<% end %>
