<p style="color: green"><%= notice %></p>

<%= render @artifact %>

<div>
  <%= link_to "Edit this artifact", edit_artifact_path(@artifact) %> |
  <%= link_to "Back to artifacts", artifacts_path %>

  <%= button_to "Destroy this artifact", @artifact, method: :delete %>
</div>
