
<%= form_with(model: image, html: { multipart: true} ) do |form| %>
  <% if image.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_field :notes, class: "form-control" %>
  </div>

  <%= form.hidden_field :imageable_type, value: params[:imageable_type] %>
  <%= form.hidden_field :imageable_id, value: params[:imageable_id] %>

  <div>
    <%= form.hidden_field :poster_id, value: current_user.id %>
  </div>

  <div class="mt-2">
    <%= form.submit class: "btn btn-outline-secondary" %>
  </div>
<% end %>
