<%= form_with(model: [@artifact || @dig, image], url: image.persisted? ? (image.imageable_type == "Artifact" ? dig_artifact_image_path(@dig, @artifact, image) : dig_image_path(@dig, image)) : (@artifact ? dig_artifact_images_path(@dig, @artifact) : dig_images_path(@dig)), html: { multipart: true} ) do |form| %>
  <% if image.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_field :notes %>
  </div>

  <% if @artifact %>
      <%= form.hidden_field :imageable_type, value: "Artifact" %>
      <%= form.hidden_field :imageable_id, value: @artifact.id %>
  <% else %>
      <%= form.hidden_field :imageable_type, value: "Dig" %>
      <%= form.hidden_field :imageable_id, value: @dig.id %>
  <% end %>

  <div>
    <%= form.hidden_field :poster_id, value: current_user.id %>
  </div>

  <div class="mt-2">
    <%= form.submit class: "btn btn-outline-secondary" %>
  </div>
<% end %>
