<div id="<%= dom_id image %>" class="mt-3">
  <%= image_tag @image.image.url, class: "full-image" %>

  <p>
    <strong>Notes:</strong>
    <%= image.notes %>
  </p>

  <p>
    <strong>Posted by:</strong> <%= link_to "#{User.find(image.poster.id).first_name} #{User.find(image.poster.id).last_name}", profile_path(image.poster) %> on <%= image.created_at.strftime("%b %d, %Y") %>
  </p>
</div>
