<div class="container">
  <%= render @image %>

  <% if current_user == @image.poster %>
    <div>
      <% if @artifact %>
        <%= link_to "Edit this image", edit_dig_artifact_image_path(@dig, @artifact, @image) %>
      <% else %>
        <%= link_to "Edit this image", edit_dig_image_path(@dig, @image) %>
      <% end %>
      
    <!---->
      <% if @artifact %>
        <%= button_to "Destroy this image", dig_artifact_image_path(@dig, @artifact, @image), method: :delete %>
      <% else %>
        <%= button_to "Destroy this image", dig_image_path(@dig, @image), method: :delete %>
      <% end %>
    </div>
  <% end %>
</div>
