<!DOCTYPE html>
<html>
  <head>
    <title>ArchaeoLog</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial: "shared/cdn_assets" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body class="text-secondary">
    <%= render partial: "shared/navbar" %>
    <%= render "shared/flash" %>
    <div class="container mb-2">
      <%= yield %>
    </div>
  </body>
</html>
